[package]
name = "ruff_python_stdlib"
version = "0.0.0"
publish = false
authors = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
homepage = { workspace = true }
documentation = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

[lib]

[dependencies]
bitflags = { workspace = true }
unicode-ident = { workspace = true }

[lints]
workspace = true
