repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.233
    hooks:
      - id: ruff

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.10.1
    hooks:
      - id: validate-pyproject

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: rust
        types: [rust]
