[build-system]
requires = ["maturin>=1.0,<2.0"]

build-backend = "maturin"

[project]
name = "ruff"
version = "0.0.290"
description = "An extremely fast Python linter, written in Rust."
authors = [{ name = "Charlie Marsh", email = "charlie.r.marsh@gmail.com" }]
maintainers = [{ name = "Charlie Marsh", email = "charlie.r.marsh@gmail.com" }]
readme = "README.md"
requires-python = ">=3.7"
license = { file = "LICENSE" }
keywords = [
  "automation",
  "flake8",
  "pycodestyle",
  "pyflakes",
  "pylint",
  "clippy",
]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Rust",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[project.urls]
Repository = "https://github.com/astral-sh/ruff"
Documentation = "https://beta.ruff.rs/docs/"
Changelog = "https://github.com/astral-sh/ruff/releases"

[tool.maturin]
bindings = "bin"
manifest-path = "crates/ruff_cli/Cargo.toml"
module-name = "ruff"
python-source = "python"
strip = true
exclude = [
  "crates/ruff/resources/test/fixtures/**/*",
  "crates/ruff/src/rules/*/snapshots/**/*"
]

[tool.ruff]
extend-exclude = [
  "crates/ruff/resources/",
  "crates/ruff_python_formatter/resources/"
]

[tool.black]
force-exclude = '''
/(
  | crates/ruff/resources
  | crates/ruff_python_formatter/resources
)/
'''
