[mixed_space_and_tab.py]
generated_code = true
ij_formatter_enabled = false

["range_formatting/*.py"]
generated_code = true
ij_formatter_enabled = false

[docstring_tab_indentation.py]
generated_code = true
ij_formatter_enabled = false