[package]
name = "ruff_formatter"
version = "0.0.0"
publish = false
authors = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
homepage = { workspace = true }
documentation = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

[dependencies]
ruff_text_size = { path = "../ruff_text_size" }

drop_bomb = { version = "0.1.5" }
rustc-hash = { workspace = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
static_assertions = "1.1.0"
tracing = { version = "0.1.37", default-features = false, features = ["std"] }
unicode-width = { workspace = true }

[dev-dependencies]
insta = { workspace = true }

[features]
serde = ["dep:serde", "ruff_text_size/serde"]
schemars = ["dep:schemars", "ruff_text_size/schemars"]
