@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body,
html,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow-copied {
  --tw-shadow: 0 0 0 1px theme("colors.white"),
    inset 0 0 0 1px theme("colors.white");
  --tw-shadow-colored: 0 0 0 1px var(--tw-shadow-color),
    inset 0 0 0 1px var(--tw-shadow-color);

  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@font-face {
  font-family: "Alliance Text";
  src: url("../fonts/Alliance-TextRegular.woff2") format("woff2"),
    url("../fonts/Alliance-TextRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Alliance Text";
  src: url("../fonts/Alliance-TextMedium.woff2") format("woff2"),
    url("../fonts/Alliance-TextMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Alliance Platt";
  src: url("../fonts/Alliance-PlattMedium.woff2") format("woff2"),
    url("../fonts/Alliance-PlattMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Alliance Platt";
  src: url("../fonts/Alliance-PlattRegular.woff2") format("woff2"),
    url("../fonts/Alliance-PlattRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
