[package]
name = "ruff_index"
version = "0.0.0"
publish = false
authors = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
homepage = { workspace = true }
documentation = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

[lib]

[dependencies]
ruff_macros = { path = "../ruff_macros" }

[dev-dependencies]
static_assertions = { workspace = true }

[lints]
workspace = true
