[project]
name = "ty_benchmark"
version = "0.0.1"
description = "Package for running end-to-end ty benchmarks"
requires-python = ">=3.12"
dependencies = [
    # mypy is missing here because we need to install it into the project's virtual environment
    # for plugins to work. See `Venv.install`.
    # Pyright is missing because we install it with `npm` to avoid measuring the overhead
    # of the Python wrapper script (that lazily installs Pyright).
    "mslex>=1.3.0",
    "pyrefly>=0.41.3",
]

[project.scripts]
benchmark = "benchmark.run:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/benchmark"]

[tool.ruff.lint]
ignore = [
    "E501", # We use ruff format
]
