[package]
name = "ruff_python_trivia"
version = "0.0.0"
publish = false
authors = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
homepage = { workspace = true }
documentation = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

[lib]

[dependencies]
ruff_text_size = { workspace = true }

memchr = { workspace = true }
unic-ucd-ident = "0.9.0"

[dev-dependencies]
insta = { workspace = true }
