[package]
name = "ruff_benchmark"
version = "0.0.0"
publish = false
edition.workspace = true
authors.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
description = "Ruff Micro-benchmarks"

[lib]
bench = false

[[bench]]
name = "linter"
harness = false

[[bench]]
name = "parser"
harness = false

[dependencies]
once_cell.workspace = true
serde.workspace = true
serde_json.workspace = true
url = "2.3.1"
ureq = "2.6.2"

[dev-dependencies]
ruff.path = "../ruff"
ruff_python_ast.path = "../ruff_python_ast"
criterion = { version = "0.5.1"}
rustpython-parser.workspace = true

[target.'cfg(target_os = "windows")'.dev-dependencies]
mimalloc = "0.1.34"

[target.'cfg(all(not(target_os = "windows"), not(target_os = "openbsd"), any(target_arch = "x86_64", target_arch = "aarch64", target_arch = "powerpc64")))'.dev-dependencies]
tikv-jemallocator = "0.5.0"
